<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center mx-auto">
            <img src="/img/diente_small.png" class="animate__bounceIn" alt="Logo" width="175" height="175">
            <h1 class="">Venta de Tickes</h1>
            <h3 class="">
                <b>DISAVEN CA</b> 
            </h3>
            <h6>
               <b>J-50179465-0</b> 
            </h6>
            <a href="/signin" class="btn btn-primary">
                <i class="bi bi-people-fill"></i>
                comenzar
            </a>
            <div class="">
                <b class="eslogan"> Con Dios Hacemos el Bien</b>
            </div>
        </div>
    </header>
</main>
<footer class="fprincipal">
    <p>Desarrollado por: Jorge Martin</p>
    <p><a href="mailto:jmcmaster77@gmail.com">jmcmaster77@gmail.com</a></p>
</footer>